{% if access_code %}
ACCESS CODE: {{access_code}}
{% endif %}

<ol>
  <li>go to <a href="{{url}}">auth page</a></li>
  <li>requests bearer_token by clicking <a href="get_token">here</a></li>
</ol>

{% if data %}
<h3>data</h3>
{{data}}
{% endif %}
